<div class="card" id="messagesCard" style="display: none;">
    <div class="card-header">
        <div>
            <h3 class="card-title">Incoming Messages</h3>
            <p class="card-description">Most recent messages received.</p>
        </div>
        <i class="ri-message-2-line"></i>
    </div>
    <div class="card-content" id="messagesList">
        <!-- Messages will be injected here by script.js -->
    </div>
</div> 