<div class="card">
    <div class="card-header">
        <div>
            <h3 class="card-title">Connection Status</h3>
            <p class="card-description">Current status of the WhatsApp connection.</p>
        </div>
        <i class="ri-signal-wifi-line"></i>
    </div>
    <div class="card-content">
        <div class="status" id="connectionStatus">Connecting...</div>
        <div id="statusMessage" class="card-description" style="margin-top: 0.5rem;">Loading connection status...</div>
    </div>
</div> 